    <!--bootstrap navbar-->
    <!--bootstrap navbar-->
    <div class="navbar">
        <a href="/">
          <img src="/images/house.svg" alt="Home">
        </a>
        <a href="/new" class="feather-icon">
          <img src="/images/feather.svg" alt="New Post">
        </a>
        <a href="/archive">
          <img src="/images/journal.svg" alt="Archive">
        </a>
        <div class="navbar-accent"></div>
      </div>

