html {
    overflow: hidden;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}


.custom-input-height {
    height: 200px;
  }

.post-card {
    background-color: pink;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

.subtle {
    font-style: italic;
    font-weight: 100;
}

h1 {
    color: red;
}
@media (max-width: 550px) {
    .footer {
        visibility: hidden !important;
    }

    .navbar {
        position: absolute !important;
        bottom: -25px !important;
        width: 100% !important;
    }
  }